// basic styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    // background-color: rgb(87, 149, 99);
}

img {
    border-radius: 10px;
    width: 30px;
    height: auto;
}